/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

body {
    margin: 0;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #69696a;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    display: block;
}

p {
    border-left: 3px solid #69696a;
    color: #69696a;
    padding-left: 5%;
}

h2 {
    font-size: 0.9rem;
}

nav {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
}

#btn-scroll-down {
    width: 100%;
    border: 0;
}

@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
    }

    header {
        flex-direction: row;
    }

    header>a {
        align-self: center;
        padding: 2px 5px;
    }

    h2 {
        flex: 3;
    }

    nav {
        flex: 1;
        justify-content: space-around;
    }

    p {
        max-width: 50%;
    }

    #btn-scroll-down {
        width: auto;
        align-self: center;
        justify-self: flex-end;
    }

    .button {
        padding: 10px 15px;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #spacer-div {
        flex: 1;
    }
}