/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

body {
    margin: 0;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #69696a;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    display: block;
}

p {
    border-left: 3px solid #69696a;
    color: #69696a;
    padding-left: 5%;
}

h2 {
    font-size: 0.9rem;
}

nav {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
}

#btn-scroll-down {
    width: 100%;
    border: 0;
}

.circle {
    display: none;
}

@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
    }

    header {
        flex-direction: row;
    }

    header>a {
        align-self: center;
        padding: 2px 5px;
        margin-right: 25px;
    }

    h2 {
        flex: 3;
    }

    nav {
        flex: 1;
        justify-content: space-around;
    }

    p {
        max-width: 50%;
    }

    #btn-scroll-down {
        width: auto;
        align-self: center;
        position: absolute;
        bottom: 10px;
    }

    .button {
        padding: 10px 15px;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .circle {
        display: block;
        border-radius: 50%;
        position: absolute;
    }

    #lg-circle {
        background-color: rgba(247, 136, 167, 0.6);
        width: 250px;
        height: 250px;
        right: 100px;
        top: 125px;
    }

    #md-circle {
        background-color: rgba(247, 193, 162, 0.7);
        width: 200px;
        height: 200px;
        right: 25px;
        top: 275px;
    }

    #sm-circle {
        background-color:  rgba(207, 130, 213, 0.6);
        width: 150px;
        height: 150px;
        right: 25px;
        top: 175px;
    }
}